<html>
<head class="no-js">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Reconocimiento de Somnolencia</title>

  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/foundation.css">
  <link rel="stylesheet" href="/static/css/app.css">

  <script src="/static/js/vendor/modernizr.js"></script>
  <script src="/static/js/vendor/jquery.js"></script>
  <script src="/static/js/foundation/foundation.js"></script>
</head>


<body>

 
  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Contact Details -->
    <div class="large-12 columns">

	  <section class="section">
		<h4>Actualizar contraseña</h4>
		<p>Guarde la contraseña en lugar seguro o memorice bien, porque no podra ser recuperada</p>
		
		<a href="/" class="button radius tiny">Regresar al Inicio</a>
	  </section>

		  
      <div class="row">
 	  <section class="section">
		<form>
		  <div class="row">
			<div class="large-12 columns">
				<label>Ingrese contraseña actual
				  <input type="password" placeholder="Contraseña Actual" />
				</label>
				<span id="passwordv"></span>
			</div>
		  </div>
    
		  <div class="row">
			<div class="large-12 columns">
				<label>Ingrese contraseña nueva
				  <input type="password" placeholder="Contraseña Nueva" />
				</label>
				<span id="passwordn"></span>
			</div>
		  </div>

		  <div class="row">
			<div class="large-12 columns">
				<label>Vuelva a ingresar la contraseña
				  <input type="password" placeholder="Vuelva a escribir la Contraseña" />
				</label>
				<span id="opasswordn"></span>
			</div>
		  </div>
  
		  <button type="submit" class="button radius tiny">Actualizar Contraseña</button>
		</form>
		</section>
      </div>

          


      </div>
    </div>
</body>
</html>
