<html>
<head>
    <meta charset="utf-8" />


    <title>GOEN Maracaibo | Ingresar</title>

    <script src="jquery.js"></script>
    <script src="jquery-ui/js/jquery-ui.js"></script>
    <script src="goen.js"></script>

    <link rel="stylesheet" href="goen.css" />
</head>


<body>
    <div class="contenido">
        <div id="entrar">
            <div class="login">
                <div class="filas">
                    <div class="Etiqueta">Usuario</div>
                    <div><input id="" type="text" name=""/></div>
                </div>
                <div class="filas">
                    <div class="Etiqueta">Contraseña</div>
                    <div><input id="" type="password" name=""></div>
                </div>
                <div class="filas">
                    <div><button id="">Ingresar</button></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

